<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Mixer</title>
    <link rel="stylesheet" href="style.css">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <header id="app">

        <div>
            <label for="red">r</label>
            <input v-model="red" type="range" min="0" max="255" id="red">
        </div>


        <div>
            <label for="green">g</label>
            <input v-model="green" type="range" min="0" max="255" id="green">
        </div>

        <div>
            <label for="blue">b</label>
            <input v-model="blue" type="range" min="0" max="255" id="blue">
        </div>

        <div id="colorHex">{{hexColor}}</div>

        <button id="randomColor" @click="setRandomColor()">Random Color</button>

    </header>
    <script src="script.js"></script>
</body>

</html>